*{
    padding: 0;
    margin:0 ;
    box-sizing: border-box;
}

img{
    width: 500px;
}

.dc-container{
    margin: 0 auto;
    border-radius: 25px;
    background-color: rgb(244, 244, 244);
    margin-top: 50px;
}

ul{
    list-style:none;
}

ul li{
    border-bottom: 1px solid grey;
    line-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}

ul li:last-child{
    border-bottom: 0;
}